<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medhasingh.unclejoy2">
 <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.medhasingh.unclejoy2.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Welcome_logo">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        <activity
            android:name=".activity_navigation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name=".Login"
            android:label="Login"
            />
        <activity android:name=".Signup"
            android:label="SignUp"/>
        <activity android:name=".how_it_works"
            android:label=".How it works?"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".BaseActivity"
            android:label="Select Images"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CustomGallery"
            android:label="Select images"/>
        <activity android:name=".BaseActivity2"
            android:label="Your selected images"/>
        <activity android:name=".Upload"
            android:label="Your Selected images"
            android:parentActivityName=".CustomGallery"
            />
        <application
            android:name="com.example.medhasingh.unclejoy2.UILApplication"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:label="Select images"/>
        <activity android:name=".GetStarted"/>




    </application>

</manifest>
